@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main;
  src: url("../../fonts/mexcellent.otf");
}
@font-face {
  font-family: main3d;
  src: url("../../fonts/mexcellent3d.otf");
}
@font-face {
  font-family: bebas;
  src: url("../../fonts/bebas.otf");
}

* {
  font-family: main3d;
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(231, 231, 231);
  .header{
    border-bottom: 3px dotted black;
  }
  .darkmodelogo{
    width: 42px;
    @media (min-width: 850px) {
      width: 100px;
    }
  }
}

.darkmodeon{
  background-color: gray !important;
  .header{
    a{
      color: white;
    }
  }
  p{
    color: white;
  }
  .mail:hover{
    color: rgb(109, 5, 5);
  }
}