@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main;
  src: url("../../fonts/mexcellent.otf");
}
@font-face {
  font-family: main3d;
  src: url("../../fonts/mexcellent3d.otf");
}
@font-face {
  font-family: bebas;
  src: url("../../fonts/bebas.otf");
}

* {
  font-family: main3d;
}
body{
  background-color: rgb(231, 231, 231);
}
.darkmodeon{
  background-color: gray !important;
}